@import "tailwindcss";
@source "../../components/";
@source "../../layouts/";
@source "../../pages/";
@source "../../error.vue";

@layer base {
  html {
    font-size: 14px; /* Default font size */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}